body {
    font-family: Arial, sans-serif;
    background: #be5a5a;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: rgb(85, 54, 54);
    padding: 20px;
    border-radius: 5px;
}

input, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: rgb(64, 90, 64);
    color: rgb(73, 60, 60);
    border: none;
    cursor: pointer;
}

button:hover {
    background: rgb(74, 97, 74);
}
